<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.UserInfoMapper">

    <!-- 分页获取学生信息 -->
    <select id="selectUserPage" resultType="java.util.LinkedHashMap">
        select
        ui.`id`,
        ui.code,
        ui.name,
        ui.sex,
        ui.birthday,
        ui.id_card,
        ui.native_place,
        ui.address,
        ui.email,
        ui.`type`,
        ui.images,
        ui.create_date,
        ui.remark,
        ui.score,
        ui.user_id,
        tu.status
        from
        user_info ui
        LEFT JOIN t_user tu ON (tu.user_id = ui.user_id)
        where
        1 = 1
        <if test="userInfo.name != null and userInfo.name != ''">
            AND ui.name LIKE CONCAT('%',#{userInfo.name},'%')
        </if>
        <if test="userInfo.code != null and userInfo.code != ''">
            AND ui.code LIKE CONCAT('%',#{userInfo.code},'%')
        </if>
        <if test="userInfo.type != null and userInfo.type != ''">
            AND ui.type= #{userInfo.type}
        </if>
        <if test="userInfo.idCard != null and userInfo.idCard != ''">
            AND ui.id_card LIKE CONCAT('%',#{userInfo.idCard},'%')
        </if>
        order by
        ui.create_date desc
    </select>
</mapper>
